.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 70vh;
  overflow-y: auto;
  padding-bottom: 8px;
}

.title {
  color: var(--accent);
}

.icon {
  color: var(--accent);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
