.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 0;
  
}

.header h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
}
